@model CreateNoteViewModel
@{
    ViewData["Title"] = "Notes";
}
<div class="row">
    <div class="col">
        <form asp-action="Create">
            <div class="mb-3">
                <label for="content" class="form-label lead ms-2 mb-0 fs-6 fst-italic">Jot it down for later...</label>
                <textarea class="form-control" asp-for="Content" id="content" rows="40"></textarea>
            </div>
            @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
            {
                <div class="text-danger">
                    <p class="lead ">@Model.ErrorMessage</p>
                </div>
            }
            <button class="btn btn-icon btn-primary" type="submit">
                <i class="fa fa-save" aria-hidden="true"></i>
                <span class="btn-icon-divider"></span> <!-- Vertical Divider -->
                Save
            </button>
        </form>
    </div>
</div>
